@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  min-height: 100vh;
  font-family: "Raleway", "Poppins", sans-serif;
  font-style: normal;
  background-color: #f1f1f1;
}

/* For the header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.bg-black {
  background-color: black;
  color: white;
  padding: .2rem;
}

/* to add animation to the h1 span PRO  */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

span.design {
  position: relative;
}

span.design::after {
  content: "";
  width: 65px;
  height: 50px;
  background-image: linear-gradient(var(--angle), transparent 80%, red, green, blue);
  position: absolute;
  padding: .2rem;
  top: -6px;
  left: -4px;
  z-index: -1000;
  transition: all .3s linear;
  animation: 5s spin linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

/* Main body css */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* SECTION 1 */
.section-1,
.section-2 {
  width: 95%;
  margin: auto;
  font-style: normal;
}

.blog-container {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.342), 0 0 8px rgba(255, 255, 255, 0.622);
  background-color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.block {
  display: block;
}

.section-1 .blog-container:last-child {
  margin-bottom: 0rem;
}

.img-container1 img {
  width: 100%;
  aspect-ratio: 3/1;
  object-fit: cover;
}

.wrapper {
  padding: .8rem .8rem 1.5rem .8rem;
}

.title-desc {
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

span.date {
  color: rgba(0, 0, 0, 0.612);
}

.text {
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.7;
}

/* button wrapper */
.button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin-right: 2rem;
}

.button-wrapper button {
  font-size: .85rem;
  padding: 1rem 1.6rem;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.319);
}

.button-wrapper button:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.button-wrapper button span {
  font-size: 1rem;
}

.button-wrapper p span {
  background-color: black;
  color: #ffffff;
  padding: .2rem .5rem;
  margin-left: .5rem;
}

.display-none {
  display: none;
}

.round {
  border-radius: 50%;
}

/* Section 2 */
.img-container2 img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.wrapper h3 {
  margin-bottom: 1rem;
}

.bg-color {
  padding: 1.5rem 1rem 1.5rem 1rem;
  background-color: #f1f1f1;
  font-size: 1.2rem;
}

.posts-wrap {
  display: flex;
  align-items: center;
  padding: .5rem .5rem .5rem 1rem;
  transition: all .3s linear;
  border-bottom: 1px solid #cccccc;
}

.posts-wrap:last-child {
  display: none;
}

.img-wrapper img {
  width: 50px;
  margin-right: 15px;
}

.flex p:first-child {
  font-size: 1.3rem;
}

.smaller-font {
  font-size: .95rem;
}

.line-height {
  line-height: 1.5;
}

.posts-wrap:hover {
  background-color: #cccccc;
  cursor: pointer;
}

/* for third section */
.tags-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.tags-list p {
  padding: 5px;
  font-size: .8rem;
  background-color: #f1f1f1;
  margin: .3rem;
}

p.color {
  background-color: black;
  color: white;
}

/* footer */
footer {
  background-color: #616161;
}

.footer-wrapper {
  width: 95%;
  padding: 2rem 1rem;
}

.prev {
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1rem;
  border: none;
  background-color: #444444;
  color: #cccccc92;
}

.prev:hover {
  cursor: not-allowed;
  background-color: #ccccccb5;
  color: #616161;
}

.next {
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: 1rem;
  border: none;
  background-color: black;
  color: white;
}

.next:hover {
  cursor: pointer;
  background-color: #cccccc;
  color: #616161;
}

p.pro-color {
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

/* Responsiveness */
@media (min-width: 993px) {
  main {
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: flex-start;
    max-width: 1400px;
  }

  .section-1,
  .section-2 {
    margin: 1rem;
  }

  .section-1 {
    width: 100%;
  }

  .section-2 {
    width: 50%;
  }

  .section-2 .blog-container {
    margin-bottom: 4rem;
  }

  .section-2 .blog-container:last-child {
    margin-bottom: 0rem;
  }

  .display-none {
    display: inline-block;
  }

  .posts-wrap:last-child {
    display: flex;
  }

  .footer-wrapper {
    max-width: 1300px;
    padding-left: 1rem;
  }
}